body {
    background-color: black; /* Black background */
    color: white; /* White text */
    font-family: Arial, sans-serif; /* Set a default font */
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(bg.jpg);
    background-size: contain;
    filter: brightness(0.9);
    color: white; /* Change text color to white */
    text-align: center;
    padding: 20px 0;
}

h1 {
    background-color: #000000;
    font-size: 4rem;
    background: linear-gradient(90deg, #000000, #a50073, #000000);
    color: white; /* Ensure text color is white */

}

.right-image {
    float: right;
    width: 160px;
    height: 160px;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    margin: 0 200px 0 150px;
    object-fit: cover;
    border: #ff6200;
}

.main-content {
    padding: 20px;
}

.section {
    margin: 20px 0;
    color: white; /* Ensure text color is white */
}

.progress-bar {
    background-color: #555; /* Darker background for progress bar */
    border-radius: 25px;
    padding: 5px;
}

.progress {
    background-color: #4caf50;
    width: 50%; /* This should be dynamically adjusted */
    height: 20px;
    border-radius: 20px;
}

.testimonial {
    background-color: #222; /* Dark background for testimonials */
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #007bff;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px; /* Adjust as needed */
    margin: auto;
}

.video-container video {
    width: 100%;
    height: auto;
    cursor: pointer; /* Indicates that interaction is possible */
}

.donation-form input, .donation-form button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

.donation-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.contact {
    background-color: rgb(69, 212, 234);
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#resume a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white; /* Ensure footer text color is white */
    text-align: center;
    padding: 10px 0;
}
